* {
  box-sizing: border-box;
}

html,
body {
  font-family: Tahoma, sans-serif;
  background: #e5e8ed;
  padding: 0;
  margin: 0;
}

#app {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

#form {
  box-shadow: 1px 2px 5px 1px #bebebe;
  background: #fff;
  border-radius: 3px;
  min-width: 300px;
  max-width: 450px;
  padding: 18px;
}

input {
  transition: all 150ms ease-in-out;
  border: 1px solid #c3ccd9;
  border-radius: 3px;
  padding: 14px;
  margin: 8px 0;
  width: 100%;

  &:focus {
    border-color: #6e7980;
    background: #fafafa;

    &::placeholder {
      color: transparent;
    }
  }
}

.error {
  border-color: #ac0000;

  &-message {
    background: #ac0000;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 3px;
    font-weight: bold;
    padding: 12px;
    color: #fff;
  }
}

.btn {
  transition: all 150ms ease-in-out;
  background: #1493ff;
  padding: 10px 12px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #fff;

  &-small {
    font-weight: normal;
    padding: 6px 12px;
    font-size: 12px;
  }

  &:hover {
    background: #0a508c;
  }
}

.table {
  &-border {
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    overflow-x: auto;
  }

  &-controls {
    justify-content: flex-end;
    margin: 48px 12px 12px 0;
    align-items: center;
    display: flex;

    .remove-btn {
      background: url("../img/btn_delete.png") no-repeat;
      transition: all 150ms ease-in;
      background-size: contain;
      margin-left: 18px;
      cursor: pointer;
      height: 10px;
      width: 10px;

      &:hover {
        margin-left: 16px;
        height: 12px;
        width: 12px;
      }
    }
  }

  &-row-controls {
    text-align: center;

    & .edit {
      text-decoration: underline;
      cursor: pointer;
      margin: 0 12px;
      color: blue;
    }

    & .delete {
      text-decoration: underline;
      cursor: pointer;
      margin: 0 12px;
      color: red;
    }
  }

  &-empty {
    font-weight: normal;
    font-size: 14px;
    padding: 18px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background: #0a508c;
    text-align: left;
    font-size: 14px;

    th {
      font-weight: normal;
      padding: 8px 12px;
      color: #c8ccd4;
    }
  }

  tbody {
    background: #fff;
    font-size: 12px;

    tr {
      transition: background 150ms ease-in-out;

      &:not(:last-of-type) {
        border-bottom: 1px solid #c8ccd4;
      }

      &:hover {
        background: #eee;
      }
    }

    td {
      padding: 8px 12px;

      &:not(:last-of-type) {
        border-right: 1px solid #c8ccd4;
      }
    }
  }
}

*:focus {
  outline: none;
}
